body {
  font-family: Raleway, Helvetica, sans-serif;
  color: #FFFFFF;
  background-image: linear-gradient(to top, rgba(46, 49, 65, 0.8), rgba(46, 49, 65, 0.8)), url(../img/bg.jpg);
  background-size: auto, cover;
  background-attachment: fixed, fixed;
  background-position: center, center;
}

.container {
  margin-top: 12%;
  margin-left: 10%;
}

.fa {
  color: #333;
  margin: 5px 10px;
  transition: all .3s;
}

.fa:first-child {
  margin-left: 0;
}

.fa:hover {
  color: #777;
}

@media (max-width: 798px) {
  .container {
    margin-left: 5%;
  }
}
